body {
  height: 10000px;
}

.hero {
  height: 800px;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.class-info {
  margin-top: 100px;
  margin-bottom: 100px;
}

.syllabus-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.course-info {
  background-color: #fafafa;
  height: 100%;
}

.custom-course-info {
  padding-left: 100px;
  padding-right: 100px;
}

.comparison {
  margin-top: 50px;
}

/* .pen {
  position: absolute;
  top: 250px;
  left: 50px;
  transition: transform 0.1s ease;
} */
