.hero {
  height: 800px;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.class-info {
  margin-top: 100px;
  margin-bottom: 100px;
}

.syllabus-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.course-info {
  background-color: #fafafa;
}

.custom-course-info {
  padding-left: 100px;
  padding-right: 100px;
}

.comparison {
  margin-top: 50px;
}

.get-access {
  margin-top: 50px;
}

.girl-image {
  height: 500px;
}

.get-access-button {
  border-radius: 5px;
  width: 500px;
  height: 70px;
  border: none;
  color: white;
  background-color: #1cba4c;
  box-shadow: 0 5px 0 0 #178c24;
}

@media (max-width: 1200px) {
  .girl-image {
    height: 400px;
  }

  .get-access-button {
    width: 300px;
    height: 60px;
  }
}

.testimonial {
  margin-top: 100px;
}

.testimonial-image {
  height: 280px;
}

.principal {
  margin-top: 100px;
  background-color: #fafafa;
}

.principal-image {
  width: 350px;
}

.act-now {
  margin-top: 50px;
}

/* .pen {
  position: absolute;
  top: 250px;
  left: 50px;
  transition: transform 0.1s ease;
} */
